{% load i18n %}
<footer class="footer bg-dark text-light py-2 border-top" style="border-color: rgba(255,255,255,0.05);">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <small class="d-block">© {% now "Y" %} Hawwa Postpartum Care. All rights reserved.</small>
                <small class="d-block">Powered by <a href="https://trendzapps.com" class="text-light" target="_blank" rel="noopener">TrendzApps</a></small>
            </div>
            <div class="col-md-6 text-md-end">
                <small class="d-block">Providing wellness & postpartum care since 2024</small>
            </div>
        </div>
    </div>
</footer>